#gallery {
    margin: 1rem auto;
    padding: 0 20px;
    width:100%;
    max-width:960px;
    column-count: 3;
}

#gallery img {
    max-width: 100%;
    border-radius: 5%;
}

#gallery figure:hover {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    filter:brightness(0.8)
}

@media (max-width: 767px) { 
    #gallery {
        columns: 2;
    }
}
        
@media (max-width: 480px) {
    #gallery {
        columns: 1;
    }
}